# --- Ignorar archivos de datos pesados  ---
*.npz
*.pt
*.pth

# --- Ignorar carpetas de datos  ---
data_repo/
Data/*

# --- Ignorar Entorno Virtual  ---
venv/
env/
.env

# --- Archivos de Python y Sistema ---
__pycache__/
*.pyc
.DS_Store
.vscode/

# --- La Excepción (AGREGAR) ---
# Incluir la carpeta de validación y sus archivos npz
!Data/Validation/
!Data/Validation/**/*.npz